.content{
	height: 100px;
	width: 700px;
	color: #ffffff;
	background: linear-gradient(350.5deg, white, black), linear-gradient(-130deg, black, white), linear-gradient(45deg, black, white);
     alignItems: center;
}
